/* Basic Block Editor CSS */
.editor-styles-wrapper {
	background-color: #ffffff;
	color: #333;
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	line-height: 1.5;
	word-wrap: break-word;
}

.editor-styles-wrapper > * {
	font-family: Montserrat, sans-serif;
	color: #333;
}

.editor-styles-wrapper .wp-block.editor-post-title__block .editor-post-title__input {
	padding: 5px 0 0;
	font-size: 20px;
	line-height: 24px;
	color: #606060;
	font-weight: normal;
}

.wp-block {
	max-width: 1140px;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
	max-width: 1200px;
}
