/**
  CSS rule of welcome admin before 1.3.4 update
 */
.appearance_page_flash-options .wrap {
	margin-top: 0;
}

.appearance_page_flash-options .wrap .flash-header {
	background-color: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #ccd0d4;
	margin-left: -20px;
	margin-right: -20px;
}


/**
 * Notices.
 */
.suffice-notice {
	position: relative;
	padding: 6px 40px 6px 12px;

	.links {
		margin: 0.5em 0;

		a {
			margin: 2px;

			& > span {
				vertical-align: middle;
			}
		}
	}

	.notice-text {
		.coupon-code {
			display: inline-block;
		}
	}

	.notice-dismiss {
		text-decoration: none;
	}
}

/**
 * Welcome notice.
 */
.suffice-message__content {
	display: flex;
	align-items: center;

	.suffice-message__image {
		flex: 0 0 160px;
		min-height: 100px;
		margin-right: 12px;
		padding-right: 12px;
		border-right: 1px solid #FCFCFD;

		.suffice-screenshot {
			width: 100%;
			box-shadow: 0 0 1px 0 #ccd0d4;
			margin: 0;
			float: none;
		}
	}

	.suffice-message__heading {
		margin-top: 0;
		margin-bottom: 12px;
		line-height: 1.4;
	}

	.suffice-message__cta {
		display: flex;
		align-items: center;

		.plugin-install-notice {
			margin-left: 15px;
			line-height: 1.4;
		}

		a {
			&:before {
				margin: 5px;
				vertical-align: middle;
			}
		}
	}
}

// Dismiss button.
a.suffice-message-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;

	&:before {
		position: absolute;
		top: 8px;
		left: 0;
		-webkit-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}
}

@media screen and (max-width: 782px) {
	.suffice-message__image {
		display: none;
	}
}

/**
 * Dashboard page.
 */
.wrap .suffice-header {
	background-color: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #ccd0d4;
	margin-left: -20px;
	margin-right: -20px;
}

.appearance_page_suffice-options .wrap {
	margin-top: 0;
}

/**
 * Responsive.
 */
@media (max-width: 600px) {
	.suffice-message__content {
		.suffice-screenshot {
			display: none;
		}

		.suffice-message__text {
			padding: 0;
			width: 100%;
		}
	}
}
